body {
  background-image: url("jjj.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 200%;
}
#container {
  left: 43%;
  right: 50%;
  top: 15%;
  bottom: 50%;
  text-align: center;
  color: #fff;
}

#Tabel {
  border: 1px;
  position: absolute;
  left: 45%;
  right: 30%;
  top: 25%;
  bottom: 50%;
  border-radius: 1px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 500px;
  height: 350px;
  padding: 15px;
  left: 800px;
  margin: 20px;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#image {
  position: absolute;
  top: 27%;
  left: 30%;
}

#Foto {
  position: absolute;
  left: 30%;
  top: 60%;
}
#Video {
  position: absolute;
  left: 40%;
  top: 100%;
}
